@charset "utf-8";
@import '../node_modules/bulma/bulma.sass';

.main {
    padding: 12px 24px;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    padding: 8px 16px;
}

.image {
    display: block;
}